$product-color: #3146FF;
$product-color-darker: #1f29a2;
$text-color: #000;
$background-color: #f7f7f7;
$secondary-color: #01FFCB;
$card-background-color: #fff;
$dotted-border-color: rgba(255, 255, 255, 0.1);
$gray-border-color: rgba(128, 128, 128, 0.2);
$gray-border-color-light: rgba(255, 255, 255, 0.2);